h1 {
    max-width: 50%;
    margin-left: 50px;
    box-sizing: border-box;
    padding: 20px;
    background-color: blanchedalmond;
}
div p {
    background-color: blanchedalmond;
    max-width: 50%;
    border-width: 3px;
    margin-left: 50px;
    padding: 20px;
    box-sizing: border-box;
}
div p.one {
    border: solid red;
    border-radius: 3px;
}
div p.two {
    border: ridge green;
    border-radius: 6px;
}
div p.three {
    border: groove blue;
    border-radius: 12px;
}